extends ./layouts/navbar.pug
block css
	link(rel = "stylesheet" href = "/css/profile.css" type="text/css")
	script(src="scripts/profile.js")
block body
	div#container
		div.editform#leftstatic
			img(id="profile-pic" class="pic" src = "/images/profile.png")
			h3(name = "fname" class="name" id="editname") #{user.fname}
			h3(name = "lname" class="name" id="editname") #{user.lname}
			p#email Email address: 
			p#email #{user.email}
			p#password Password: 
			input(type="password" disabled value = "dummypassword")
			button(type= "button" class="edit" id ="editprof" onclick = 'enableEdit()') Edit Profile
		.editform#leftedit(style="display: none;")
			form(method="POST" action = "updateprofile", id="toedit")
				img(id="profile-pic" class="pic" src = "/images/profile.png")
				input(type="text" name = "newfname" placeholder="new first name")
				input(type="text" name = "newlname" placeholder="new last name")
				p#password Password: 
				input(type="password" id="pw" name="newpw")
				button(class="edit" id="save" type="submit") Save Changes
			button(class="edit" id="cancel" onclick = 'cancel()') Cancel
		ul#center
			each userPost in user.posts
				li
					a(href=`/post/${userPost._id}`)
						img.postimgs(src=`/uploads/${userPost._id}/postimg.png`, href=`/post/${userPost._id}`)
					div.posttext
						h3(class="name") #{userPost.title}
						p Category: #{userPost.category}
						p Likes: #{userPost.likes.length}
					div#buttons
						form(method="GET", action=`/editpost/${userPost._id}`)
							button.postbtn(type="submit")
								img.editbtn(src="/images/editButton.png")
						form(method="GET", action=`/deletepost/${userPost._id}`)
							button.postbtn(type="submit")
								img.deletebtn(src="/images/deleteButton.png")