extends ./layouts/navbar.pug
block css
    link(rel="stylesheet", type="text/css", href="/css/viewPost.css")
block body
    - var count = 0;
    - var userCount = 0;
    .postContainer
        #postHeader
            #postHeaderLeft
                img#postimg(src=`/uploads/${post._id}/postimg.png`)
            #postHeaderRight
                #duration
                    span Duration: 
                    if workout.duration == 30
                        span(style="color: lightgreen")  #{workout.duration} minutes
                    if workout.duration == 60
                        span(style="color: orange") #{workout.duration} minutes
                    if workout.duration == 90
                        span(style="color: red") #{workout.duration} minutes
                #difficulty 
                    span Difficulty: 
                    if workout.difficulty == "Beginner"
                        span(style="color: lightgreen;") #{workout.difficulty}
                    if workout.difficulty == "Intermediate"
                        span(style="color: orange;") #{workout.difficulty}
                    if workout.difficulty == "Advanced"
                        span(style="color: red;") #{workout.difficulty}
                #likeContainer
                    form(method="POST", action="likePost")
                        input(type="text", value=`${post._id}`, name=`postId`, style="display: none;")
                        if userLiked === true
                            button.like(type="button")
                                img.likeBtn(src="/images/LikeAfter.png") 
                        else if userLiked === false && guest.addReview
                            button.like(type="button")
                                img.likeBtn(src="/images/LikeBefore.png")
                        else 
                            button(disabled)
                                img.likeBtn(src="/images/LikeBefore.png")
                #pTitle #{post.title} 
                .category
                    each category in workout.bodyfocus
                        span | #{category} |
                #exercises
                    span Exercises included in the post:
                    .exerciseContainer
                        each exercisepics in exerciseImgs
                            .exerciseList
                                button(type="button")
                                    img.pic(src=`${exercisepics}`, onclick=`
                                        $("#ename").text("${exercises[count].name}");
                                        $("#edescription").text("${exercises[count].description}");
                                        $("#erepetitions").text("Repetitions: ${exercises[count].repetitions}");
                                        $("#esets").text("Sets: ${exercises[count].sets}");
                                        $("#eimage").attr("src", "${exerciseImgs[count]}");
                                    `)
                            - count++;
        div(style="padding-top: 50px; padding-bottom: 50px;")
            #exerciseDetailContainer
                center
                    img#eimage(src=`${exerciseImgs[0]}`) 
                div(style="width: 80%; height: 100%; padding-left: 50px;")
                    br
                    br
                    span#ename(style="text-transform: uppercase;") #{exercises[0].name}
                    br
                    br
                    span#edescription(style="text-align: justify;") #{exercises[0].description}
                    br
                    br
                    br
                    span#erepetitions Repetitions: #{exercises[0].repetitions}
                    br
                    span#esets Sets: #{exercises[0].sets}
        hr
        #commentsSection
            span#commentTitle Comments
            if guest.addReview
                div
                    form#fco(action="/postComment", method="POST")
                        span#postCommentTitle Post your comment here!
                        textarea#postCommentBox(name="comment", required)
                        br
                        br
                        button#postComment(type="submit") Post Comment
                        input#pId(type="text", value=`${post._id}`, name=`postId`, style="display: none;")
            div#temp
                each comment in comments
                    div
                        span.dateCreated #{comment.dateCreated.toISOString().slice(0,10)}
                        br
                        span.userCommentor #{comment.userId.fname} #{comment.userId.lname} says..
                        if comment.userId._id == guest._id
                            button 
                                img.ebtn#edit(src="/images/editButton.png", onclick=`
                                    $("#editCommentBox").text("${comment.comment}");
                                    $("#editComment${userCount}").css("display", "inline-block");
                                    $("#cancelComment${userCount}").css("display", "inline-block");
                                    $("#editcommentID").val('${comment._id}');
                                    document.getElementById('comment${userCount}').contentEditable=true;
                                `)
                            button
                                form(action="/deleteComment", method="POST")
                                    button.deleteComment(type="submit")
                                        img.ebtn#delete(src="/images/deleteButton.png")
                                    input(type="text", value=`${post._id}`, name=`postId`, style="display: none;")
                                    input#editcommentID(type="text", value=`${comment._id}`, name=`commentId`, style="display: none;")
                    if comment.userId._id == guest._id
                        form(id=`editForm${userCount}`,action="/editComment", name=`editForm${userCount}`, method="POST")
                            blockquote(id=`comment${userCount}`) #{comment.review}
                            button.cancelComment(id=`cancelComment${userCount}`, type="button", onclick=`
                                $("#editComment${userCount}").css("display", "none");
                                $("#cancelComment${userCount}").css("display", "none");
                                document.getElementById('comment${userCount}').contentEditable=false;
                            `) Cancel
                            button.editComment(id=`editComment${userCount}`, type="button", onclick=`
                                $("#hiddenComment${userCount}").val($("#comment${userCount}").html());
                            `) Save
                            input#editcommentID(type="text", value=`${comment._id}`, name=`commentId`, style="display: none;")
                            input(type="text", value=`${post._id}`, name=`postId`, style="display: none;")
                            input(id=`hiddenComment${userCount}`, type="text", name=`comment`, style="display: none;")
                    else
                        blockquote(id=`comment${userCount}`) "#{comment.review}"
                    --userCount++
block scripts
    script(src="/scripts/viewPost.js")